* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* have the content fill the entire height of the screen so there is no blank space at the bottom */
html {
  height: 100%;
}

body {
  font-family: "Finlandica", sans-serif;
  font-optical-sizing: auto;
}
