* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* have the content fill the entire height of the screen so there is no blank space at the bottom */
html {
  height: 100%;
}

body {
  font-family: "Finlandica", sans-serif;
  font-optical-sizing: auto;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
