* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* have the content fill the entire height of the screen so there is no blank space at the bottom */
html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("./images/book-image.jpg");

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Finlandica", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
}
